<!--==========================
    Imagem na Esquerda
============================-->
<section id="{{idItem}}"  class="wow fadeInUp aboutid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="{{imagem}}" alt="" >
      </div>

      <div class="col-lg-6 content">
        <h2>{{titulo}}</h2>
        <h3>{{subtitulo}}</h3>

        <ul>
          <li>
            <i class="ion-android-checkmark-circle"></i> {{bullet1}} </li>
          <li>
            <i class="ion-android-checkmark-circle"></i> {{bullet2}} </li>
          <li>
            <i class="ion-android-checkmark-circle"></i> {{bullet3}} </li>
        </ul>

      </div>
    </div>

  </div>
</section>
