<!--banner-->
<section  id="banner" class="banner" [ngStyle]="{'background-image': 'url(' + pagina.imagemFundo + ')'}">
  <div class="bg-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="assets/img/logo1.gif" class="img-responsive" style="width: 140px; margin-top: -16px;">
            </a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#banner">Home</a>
              </li>
              <li class="">
                <a href="#item14">Item 14</a>
              </li>
              <!--  Menu  -->
              <li *ngFor="let item of pagina.itemValidacaoPaginas" class="">
                <a href="#item{{item.id}}">{{ item.titulo }}</a>
              </li>
              <!--       -->
              <li class="">
                <a href="#contact">Solicitar Acesso</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="banner-info">

          <div class="banner-text text-center">
            <h1 class="white">Healthcare at your desk!!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              <br>tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#contact" class="btn btn-appoint">Make an Appointment.</a>
          </div>
          <div class="overlay-detail text-center">
            <a href="#service">
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ banner-->
<!--service-->
<section id="service" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">Our Service</h2>
        <hr class="botm-line">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris cillum.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-stethoscope"></i>
          </div>
          <div class="icon-info">
            <h4>24 Hour Support</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-ambulance"></i>
          </div>
          <div class="icon-info">
            <h4>Emergency Services</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-user-md"></i>
          </div>
          <div class="icon-info">
            <h4>Medical Counseling</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-medkit"></i>
          </div>
          <div class="icon-info">
            <h4>Premium Healthcare</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ service-->
<!--cta-->
<section id="cta-1" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="schedule-tab">
        <div class="col-md-4 col-sm-4 bor-left">
          <div class="mt-boxy-color"></div>
          <div class="medi-info">
            <h3>Emergency Case</h3>
            <p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. </p>
            <a href="#" class="medi-info-btn">READ MORE</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="medi-info">
            <h3>Emergency Case</h3>
            <p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. </p>
            <a href="#" class="medi-info-btn">READ MORE</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mt-boxy-3">
          <div class="mt-boxy-color"></div>
          <div class="time-info">
            <h3>Opening Hours</h3>
            <table style="margin: 8px 0px 0px;" border="1">
              <tbody>
                <tr>
                  <td>Monday - Friday</td>
                  <td>8.00 - 17.00</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>9.30 - 17.30</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>9.30 - 15.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--cta-->






<div *ngFor="let item of pagina.itemValidacaoPaginas; let odd = odd; let even = even">
  <div *ngIf="odd">
    <app-vantagem-produto-esquerda [itemPagina]="item"></app-vantagem-produto-esquerda>
  </div>
  <div *ngIf="even">
    <app-vantagem-produto-direita [itemPagina]="item"></app-vantagem-produto-direita>
  </div>
</div>

<div *ngIf="visitanteCorrente">
  <app-form [visitante]="visitanteCorrente"></app-form>
</div>

<!--footer-->
<footer id="footer">
  <div class="footer-line" [ngStyle]="{'background-color': 'rgba('+cor+')'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          Criado por Digicom Comunicação Digital - 2018
          <div class="credits">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/ footer-->