<!--==========================
      Section 2
    ============================-->
<section id="pedido" class="about wow fadeInUp">
  <div class="container">
    <div class="row">


      <div class="col-lg-6 content">
        <h2>Receber Pedidos</h2>
        <h3>Você vai poder rapidamente disponibilizar aos clientes toda sua coleção de peças</h3>

        <ul>
          <li>
            <i class="ion-android-checkmark-circle"></i> Mostrar sua coleção de peças para os clientes.</li>
          <li>
            <i class="ion-android-checkmark-circle"></i> Lançar novos modelos.</li>
          <li>
            <i class="ion-android-checkmark-circle"></i> Organizar e coleção no celular do cliente.</li>
        </ul>
      </div>

      <div class="col-lg-6 about-img">
        <img src="assets/img/tela01.jpg" alt="">
      </div>
    </div>

  </div>
</section>
<!-- #secao2 -->