<!-- inicio app-root -->
<!--banner-->
<section id="banner" class="banner" style="background-image: url('{{pagina.imagemFundo}}');  background-repeat: no-repeat; position: fixed;">
  <div class="bg-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="assets-medilab/img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;">
            </a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#banner">Home</a>
              </li>
              <li class="">
                <a href="#produto">Exibir Produtos</a>
              </li>
              <li class="">
                <a href="#pedido">Receber Pedidos</a>
              </li>
              <li class="">
                <a href="#cliente">Conhecer Clientes</a>
              </li>
              <li class="">
                <a href="#contact">Solicitar Acesso</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-logo text-center">
            <img src="assets-medilab/img/logo.png" class="img-responsive">
          </div>
          <div class="banner-text text-center">
            <h1 class="white">{{ pagina.mensagemPrincipal }}</h1>
            <p>{{ pagina.mensagemSecundaria }}</p>
            <a href="#contact" class="btn btn-appoint">{{ pagina.botaoAcao }}</a>
          </div>
          <div class="overlay-detail text-center">
            <a href="#service">
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ banner-->

<div *ngFor="let item of pagina.itemValidacaoPaginas">

    <app-vantagem-produto-esquerda [itemPagina]="item"></app-vantagem-produto-esquerda>


    <app-vantagem-produto-direita [itemPagina]="item"></app-vantagem-produto-direita>

</div>



<!--footer-->
<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">About Us</h4>
          </div>
          <div class="info-sec">
            <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Quick Links</h4>
          </div>
          <div class="info-sec">
            <ul class="quick-info">
              <li>
                <a href="index.html">
                  <i class="fa fa-circle"></i>Home</a>
              </li>
              <li>
                <a href="#service">
                  <i class="fa fa-circle"></i>Service</a>
              </li>
              <li>
                <a href="#contact">
                  <i class="fa fa-circle"></i>Appointment</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Follow us</h4>
          </div>
          <div class="info-sec">
            <ul class="social-icon">
              <li class="bglight-blue">
                <i class="fa fa-facebook"></i>
              </li>
              <li class="bgred">
                <i class="fa fa-google-plus"></i>
              </li>
              <li class="bgdark-blue">
                <i class="fa fa-linkedin"></i>
              </li>
              <li class="bglight-blue">
                <i class="fa fa-twitter"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Copyright Medilab Theme. All Rights Reserved
          <div class="credits">
            <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
                -->
            Designed by
            <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/ footer-->

<!-- final app-root -->