<!--==========================
    Imagem na Direita
============================-->
<section id="item{{itemPagina.id}}" class="aboutid section-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 content">
        <h2>{{itemPagina.titulo}}</h2>
        <h3>{{itemPagina.descricaoSimples}}</h3>
        <ul>
          <li>
            <i class="ion-android-checkmark-circle"></i> {{itemPagina.bullet1}} </li>
          <li>
            <i class="ion-android-checkmark-circle"></i> {{itemPagina.bullet2}} </li>
          <li>
            <i class="ion-android-checkmark-circle"></i> {{itemPagina.bullet3}} </li>
        </ul>
      </div>

        <div class="col-lg-3 about-img">
          <img style="max-height: 320px;border:1px solid black" src="{{itemPagina.urlImagem}}" alt="">
        </div>
        <div class="col-lg-3 about-img">
          <img style="max-height: 320px;border:1px solid black" src="{{itemPagina.urlImagem2}}" alt="">
        </div>
    



    

    </div>
  </div>
</section>